// Заготовка для сетки, в случае отключения bootstrap стилей

	@if $config {
		@each $group in $config {
			$groupName: map-get($group, 'group');
			$items: map-get($group, 'items');
			@if $groupName == 'grid' {
				
				@each $item in $items {
					$type: map-get($item, 'type');
					$container: map-get($item, 'container');
					$gutters: map-get($item, 'gutters');


					$selectorContainer: if($type == '', 'container-fluid', #{'container-fluid'}-#{$type});
					$selectorRow: if($type == '', 'row', #{'row'}-#{$type});
					$selectorColumn: if($type == '', 'column', #{'column'}-#{$type});

					@include grid-layout($selectorContainer, $container, $selectorRow, $selectorColumn, $gutters);
					// @if $isBootstrap == false {
					// } @else {
					// 	@if $container != '1400' {
					// 		@include grid-layout($selectorContainer, $container, $selectorRow, $selectorColumn, $gutters);
					// 	}
					// }
				}
			}
		}
	}



