@if $config {
	:root {
		--global-font: '#{$globalFont}';
		--global-font-color: #{$globalFontColor};
		--global-link-color: #{$globalLinkColor};
		--global-background-color: #{$globalBackgroundColor};
		--global-border-color: #{$globalBorderColor};
		--global-font-size-relative: #{$globalFontSizeRelative};
		--global-font-size: #{$globalFontSize};

		@each $configGroup in $config {
			$varSelector: map-get($configGroup, 'group');
			$list: map-get($configGroup, 'items');
			@if $varSelector == 'font-family' {
				$fontNameList: ();
				$count: 0;
				@each $listItem in $list {
					$fontNameList: append($fontNameList, map-get($listItem, 'fontName'));
				}
				@each $name in $fontNameList {
					@if $globalFont != $name {
						--#{$varSelector}-#{$count}: '#{$name}';
						$count: $count + 1;
					}
				}
			} @else if $varSelector == 'font-size-root' {
				@each $listItem in $list {
					$mediaString: map-get($listItem, 'mediaString');
					$value: map-get($listItem, 'value');
					--#{$varSelector}-#{$mediaString}: #{$value};
				}
			} @else if $varSelector == 'font-size-title' {
				$count: 1;
				@each $listItem in $list {
					--#{$varSelector}-#{$count}: #{$listItem};
					$count: $count + 1;
				}
			} @else if $varSelector == 'font-size-text' or $varSelector == 'font-size-icon' {
				$count: 0;
				@each $listItem in $list {
					$name: map-get($listItem, 'name');
					$value: map-get($listItem, 'value');
					--#{$varSelector}-#{$name}: #{$value};
					$count: $count + 1;
				}
			} @else if $varSelector == 'color-font' {
				@each $listItem in $list {
					$groupName: map-get($listItem, 'colorGroupName');
					$items: map-get($listItem, 'colors');
					@each $item in $items {
						$name: map-get($item, 'name');
						$value: map-get($item, 'value');
						--#{$varSelector}-#{$groupName}-#{$name}: #{$value};
					}
				}
			} @else if $varSelector == 'color-font' or $varSelector == 'background-color' or $varSelector == 'border-color' or $varSelector == 'box-shadow-color'  {
				@each $listItem in $list {
					$groupName: map-get($listItem, 'colorGroupName');
					$items: map-get($listItem, 'colors');
					@each $item in $items {
						$name: map-get($item, 'name');
						$value: map-get($item, 'value');
						--#{$varSelector}-#{$groupName}-#{$name}: #{$value};
					}
				}
			} @else if $varSelector == 'container-width' or $varSelector == 'row-indents' or $varSelector == 'column-indents' {
				$count: 0;
				@each $listItem in $list {
					$type: map-get($listItem, 'type');
					$value: map-get($listItem, 'value');
					$result: if($type == '', --#{$varSelector}, --#{$varSelector}-#{$type});
					#{$result}: #{$value};
					$count: $count + 1;
				}
			} @else if $varSelector == 'border-radius' {
				@each $listItem in $list {
					$name: map-get($listItem, 'name');
					$value: map-get($listItem, 'value');
					--#{$varSelector}-#{$name}: #{$value};
				}
			}
		}
	}
}