.badge {
  &--base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2em 1em;
    min-height: 1.785em;

    font-size: var(--font-size-text-fourth);
    color: var(--color-font-third-primary);
    font-weight: 400;
    &--green {
      background-color: var(--background-color-fourth-primary);
      border-radius: var(--border-radius-primary-start);
    }
  }
}