.banner {
	&--base {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 80px;
	}
	&--secondary {
		@extend .banner--base;
		background-size: contain;
	}
}