.breadcrumbs {
  &--base {
    ul {
      @extend .list-clear;
      @extend .row;
			justify-content: flex-end;
			margin: 1em 0;
    }
    li {
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
    a {
      display: block;
      padding: 0.3em 1em 0.3em 0.5em;
      font-size: var(--font-size-text-secondary);
      color: var(--color-font-secondary-secondary) !important;
      font-weight: 300;
      text-decoration: none;
      &:after {
        content: '>';
        display: inline-block;
        margin-left: 1em;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
