.button {
	@extend .button-clear;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 2.86em;
	padding: 0.5em 2em;
	border: 1px solid var(--border-color-primary-primary);

	text-align: center;
	color: var(--color-font-base-primary);
	text-decoration: none;
	font-size: var(--font-size-text-fourth);
	line-height: 1.2;
	font-weight: 700;
	
	@extend .transition-base;
	border-radius: var(--border-radius-secondary);
	.svg-icon {
		font-size: var(--font-size-text-primary-secondary);
	}
	&:hover {
		color: var(--color-font-base-primary);
		// color: var(--color-font-third-primary);
		text-decoration: none;
		transform: scale(.95);
	}

	&--base {
		color: var(--color-font-third-primary);
		background-color: var(--background-color-third-primary);
		border-color: var(--border-color-secondary-primary);
		&:hover {
			color: var(--color-font-third-primary);
		}
	}
	&--secondary {
		// color: var(--color-font-base-primary);
		// &:hover {
		// 	color: var(--color-font-base-primary);
		// }
	}
	&--third {
		color: var(--color-font-third-primary);
		border: 2px solid var(--border-color-primary-secondary);
		&:hover {
			color: var(--color-font-third-primary);
		}
	}
	&--fourth {
		color: var(--color-font-primary-fifth);
		border: 1px solid var(--border-color-primary-secondary);
		&:hover {
			color: var(--color-font-primary-fifth);
		}
	}
	&--fifth {
		width: 100%;
		min-height: 3.57em;
		color: var(--color-font-base-primary);
		@extend .border-radius--third;
		.svg-icon {
			// font-size: var(--font-size-text-primary-secondary);
			color: var(--color-font-base-fifth);
		}
		&:hover {
			color: var(--color-font-base-primary);

		}
	}
	&--sixth {
		border-radius: var(--border-radius-primary);
	}
	&--seventh {
		min-height: 2.3em;
		padding: 0.46em 2em;
		border-color: transparent;

		font-size: var(--font-size-text-fifth);

		border-radius: var(--border-radius-primary-base);
		background-color: var(--background-color-primary-secondary);
	}
	&--eigth {
		padding-left: 1em;
		padding-right: 1em;
		min-height: 2.5em;

		font-size: var(--font-size-text-fifth);

		border-radius: var(--border-radius-primary-base);
		.svg-icon {
			color: var(--color-font-base-fifth);
			font-size: var(--font-size-text-third-secondary);
		}
		& + .button--eigth {
			margin-left: -3px;
			border-radius: 0 var(--border-radius-primary-base) var(--border-radius-primary-base) 0 !important;
			border-left: none;
		}
		&:not(:only-child) {
			border-radius: var(--border-radius-primary-base) 0 0 var(--border-radius-primary-base);
		}
		&:hover {
			transform: scale(1);
			.svg-icon {
				color: var(--color-font-eigth-primary);
			}
		}
	}
	&--burger {
		@extend .button-clear;
		font-size: var(--font-size-icon-primary-larger);
		min-height: none;
		border: none;
		padding: 0 .5em;
	}
}


.button__in {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}