.carousel {
  &--base {
    .swiper-slide {
      img {
        // object-fit: contain;
        // height: 440px;
        width: 100%;
        @include media(m, $xl) {
          height: 660px;
        };
      }
    }
  }
}

