.card {
  background-color: var(--background-color-secondary-primary);
  border-radius: var(--border-radius-primary);
  box-shadow: none !important;
  &--base {
    
    // width: 19em;
    width: 100%;
    border: none;
    flex-grow: 1;
    // margin-left: auto;
    // margin-right: auto;
    
    color: var(--color-font-base-primary) !important;
    text-decoration: none !important;
    @include media(m, $sm) {

    };
    .card__img-wrap {
      height: 15.4em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 1em;
      @include media(m, $xl) {
        padding: 1em;
      };
    }
    .card__img {
      max-height: 100%;
      flex-shrink: 0;
    }
    .card__body {
      padding: 1em 2em 2em;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .card__price {
      margin: 0;
    }
    .card__currency {
      font-size: var(--font-size-text-fifth);
      
    }
    .card__old-price {
      font-size: var(--font-size-text-eigth);
      color: var(--color-font-primary-twelth);
    }
    .card__title {
      font-weight: 400;
      color: var(--color-font-eigth-fourth);
      padding: 1em 0;
      margin: auto 0;
    }
    .card__category {
      font-size: var(--font-size-text-eigth);
      color: var(--color-font-base-fourth);
      text-transform: uppercase;
      margin-top: auto;
    }
  }
  &--secondary {
    width: 19em;
    padding: 2em;
    border-radius: var(--border-radius-primary);
    flex-grow: 1;
    .card__img-wrap {
      position: relative;
      min-height: 15em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--border-color-primary-primary);
      padding-bottom: 1em;
      margin-bottom: 2em;
    }
    .card__badge {
      position: absolute;
      top: 0;
      left: 0;
    }
    .card__img {
      max-height: 100%;
      flex-shrink: 0;
    }
    .card__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .card__title {
      margin-bottom: .7em;
    }
    .card__content {
      font-size: var(--font-size-text-fifth);
      margin-bottom: 2em;
    }
    .button {
      margin-top: auto;
      width: 100%;
    }
  }
  &--third {
    
    width: 19em;
    min-height: 15em;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 2em;

    color: var(--color-font-base-primary) !important;
    text-decoration: none !important;
    text-align: center;
    .card__img-wrap {
      width: 3.6em;
      height: 3.6em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5em;
    }
    .card__img {
      flex-shrink: 0;
      max-height: 100%;
    }
  }
}