.dropdown {
	.dropdown-menu {
		position: relative;
		border: none;

		background-color: var(--background-color-secondary-primary);
		@extend .box-shadow-base;
		&:before {
			content: '';
			position: absolute;
			left: 0.5em;
			border-left: .4em solid transparent;
			border-right: .4em solid transparent;
		}
		&[data-popper-placement="bottom-start"] {
			border-radius: 0 0 var(--border-radius-primary) var(--border-radius-primary);
			&:before {
				bottom: 100%;
				left: 0.5em;
				border-bottom: .4em solid var(--background-color-secondary-primary);
			}
		}
		&[data-popper-placement="top-start"] {
			border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;
			&:before {
				top: 100%;
				border-top: .4em solid var(--background-color-secondary-primary);
			}
		}
	}
	&--base {
		.dropdown-toggle {
			display: flex;
			align-items: center;
			
			font-size: var(--font-size-text-sixth);
			color: var(--color-font-primary-eleventh);
			text-transform: uppercase;
			&:after {
				display: none;
			}
			&.show {
				.dropdown__angle {
					transform: rotate(0);
				}
			}
		}
		.dropdown__angle {
			font-size: var(--font-size-icon-third);
			color: var(--color-font-base-ninth-secondary);
			margin-left: 0.5em;
			transform: rotate(90deg);
		}
		.dropdown-menu {

		}
		.dropdown-item {
			font-size: var(--font-size-text-sixth);
			color: var(--color-font-primary-eleventh);
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
				background-color: var(--background-color-third-primary);
				color: var(--color-font-third-primary);
			}
		}
	}
	&--secondary {
		.dropdown-toggle {
			&:after {
				display: none;
			}
			&.show {
				.dropdown__toggle-icon {
					color: var(--color-font-eigth-eigth);
				}
			}
		}
		.dropdown__toggle-icon {
			color: var(--color-font-primary-secondary);
			font-size: var(--font-size-icon-primary-larger);
		}
		.dropdown-menu {
			// width: 21.4em;
			padding: 0;
		}
		.dropdown__menu-body {
			width: 21.4em;
			padding: 2em 1.5em;
		}
		.dropdown__menu-body-secondary {
			width: 18em;
			padding: 1em 1.5em;
		}
		.dropdown__menu-body-third {
			width: 21.4em;
			padding: 2em 1.5em;
			min-height: 30em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.dropdown__menu-foot {
			background-color: var(--background-color-primary-third);
			padding: 2em 1.5em;
		}
		.dropdown__avatar-wrap {
		}
		.dropdown__avatar-img {
			width: 3.21em;
			height: 3.21em;
			border-radius: 50%;
			object-fit: cover;
		}
		hr {
			border: none;
			margin-top: auto;
			margin-bottom: 1em;
			border-top: 1px solid var(--border-color-primary-primary);
			background-color: transparent;
			opacity: 1;
		}
	}
}

