.link {
  &:hover {
    text-decoration: underline;
  }
  &--base {
    color: var(--color-font-base-primary);
    .svg-icon {
      font-size: var(--font-size-icon-primary-larger);
      margin-right: .5em;
    }
    &:hover {
      color: var(--color-font-base-primary);
      text-decoration: none;
      .svg-icon {
        color: var(--color-font-eigth-primary);
      }
    }
  }
  &--secondary {
    font-size: var(--font-size-text-fourth);
    color: var(--color-font-base-primary) !important;
    text-decoration: none !important;
    font-weight: 700;
    .svg-icon {
      margin-right: .5em;
      font-size: var(--font-size-icon-primary-larger);
      color: var(--color-font-primary-secondary);
      @extend .transition-base;
    }
    &:hover {
      .svg-icon {
        transform: scale(1.1);
      }
    }
  }
  &--third {
    color: var(--color-font-base-secondary) !important;
    text-decoration: none !important;
    font-size: var(--font-size-text-fourth);
    .link__img-wrap {
      width: 1.8em;
      height: 1.8em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0.5em;
    }
    .link__img {
      max-height: 100%;
      flex-shrink: 0;
      @extend .transition-base;
    }
    &:hover {
      .link__img {
        transform: scale(1.1);
      }
    }
  }
}

.link__in {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .svg-icon {
    flex-shrink: 0;
  }
}