.list {
  &--base {
    .list__item {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      padding-right: 2em;
      & + .list__item {
        border-top: 1px solid var(--border-color-primary-primary);
        margin-top: 1em;
        padding-top: 1em;
        .list__item-delete {
          top: 1.5em;
        }
      }
    }
    .list__item-img-wrap {
      width: 60px;
      height: 60px;
      margin-right: 1em;
      flex-shrink: 0;

      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .list__item-img {
      max-height: 100%;
    }
    .list__item-delete {
      @extend .button-clear;
      position: absolute;
      top: 0;
      right: 0;
      color: var(--color-font-base-fifth);
      font-size: var(--font-size-icon-third);
    }
  }
  &--secondary {
    @extend .list-clear;
    li {
      margin-bottom: 1em;
    }
    a {
      color: var(--color-font-base-primary);
    }
  }
  &--categorys {
    @extend .list-clear;
    li {
      margin-bottom: 1em;
    }
  }
  &--nav-footer {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: .5em;
    }
  }
}