.modal {
  &--base {
    .modal-dialog {
      max-width: 19em;
    }
  }
  &--secondary {
    .modal-dialog {
      max-width: 25.7em;
    }
  }
  &--third {
    .modal-dialog {
      max-width: 28.6em;
    }
    .modal-body {
      padding: 2em 3em 1em 3em;
    }
    hr {
      border: none;
      border-top: 1px solid var(--border-color-primary-primary);
      background-color: transparent;
      opacity: 1;
    }
  }
}

.modal-content {
  padding: 0;
  background-color: var(--background-color-secondary-primary);
  border-radius: var(--border-radius-primary);
  border: none;
}
.modal-body {
  padding: 2em;
}
.btn-close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.7em;
  z-index: 2;
}