.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
  fill: currentColor;
	&--angle {
		transform: rotate(90deg);
	}
}

@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'group');
		$items: map-get($group, 'items');
		@if $groupName == 'font-size-icon' {
			@each $item in $items {
				$name: map-get($item, 'name');
				$value: map-get($item, 'value');
				@include set-typography('.svg-icon--size-#{$name}', $groupName, $name, null, $value);
			}
		}
	};
}