.section {
	&--fullpage {
		display: flex;
		flex-direction: column;
		.section__in {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5em 0;
		}
	}
	&--paddings-base {
		padding: 1em 0;
    @include media(m, $xl) {
      padding: 2em 0;
    };
	}
}
.section__container {
  @extend .container-fluid;
}

.section__row {
  @extend .row;
}
.section__column {

}


.section__title {
	margin-bottom: 1em;
	@include media(d, $sm) {
		text-align: center;
	};
	@include media(m, $xl) {
		margin-bottom: 1.5em;
	};
}