.section {
  &--front {
    margin-bottom: 1em;
    @include media(m, $xl) {
      margin-bottom: 2em;
    };
    .container-fluid {
      position: relative;
    }
    .section__sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      
      
      opacity: 0;
      visibility: hidden;

      @include media(d, $xl) {
        background-color: var(--background-color-fifth-primary);
      };
      @include media(m, $xl) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 19em;
        opacity: 1;
        visibility: visible;
        background-color: var(--background-color-secondary-primary);
      };
      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
    .section__sidebar-in {
      // width: 22em;
      background-color: var(--background-color-secondary-primary);
      @include media(d, $xl) {
        width: 22em;
        height: 100%;
        overflow-y: auto;
      };
    }
    .section__sidebar-close {
      @extend .button-clear;
      position: absolute;
      top: 1em;
      right: 1em;

      font-size: var(--font-size-icon-primary-larger);
      color: var(--color-font-third-primary);
    }
    .section__sidebar-head {
      padding: 1em 2em;
      border-bottom: 1px solid var(--border-color-primary-primary);
    }
    .section__sidebar-body {
      padding: 1em 2em;
    }
    .section__main {
      @include media(m, $xl) {
        padding-left: 19em;
      };
    }
  }
}