.section {
  &--about {
    color: var(--color-font-third-primary);
    .section__in {
      min-height: 32em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-primary);

      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    .section__content {
      max-width: 46em;
    }
  }
}