<header class="header">
  <div class="header__base">
    <div class="container-fluid">
      <div class="row row-cols-auto align-items-center justify-content-end">
        <div class="col">
          <div class="dropdown dropdown--base">
            <div class="dropdown-toggle" id="dropdown-1" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-offset="0, 15">
              <span>sum</span>
              <svg class="dropdown__angle svg-icon"><use xlink:href="img/svgSprite.svg#icon-angle"></use></svg>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdown-1">
              <li><a class="dropdown-item" href="#">sum</a></li>
              <li><a class="dropdown-item" href="#">usd</a></li>
              <li><a class="dropdown-item" href="#">rub</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="dropdown dropdown--base">
            <div class="dropdown-toggle" id="dropdown-1" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-offset="0, 15">
              <span>русский</span>
              <svg class="dropdown__angle svg-icon"><use xlink:href="img/svgSprite.svg#icon-angle"></use></svg>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdown-1">
              <li><a class="dropdown-item" href="#">english</a></li>
              <li><a class="dropdown-item" href="#">uzbek</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__secondary">
    <div class="container-fluid">
      <div class="row row-cols-auto align-items-center">
        <div class="col me-auto">
          <a class="logo logo--base" href="#">Buynow</a>
        </div>
        <div class="col">
          <form class="form form--search-base needs-validation" novalidate>
            <div class="position-relative">
              <input class="form-control" type="search" placeholder="Искать товар" required>
              <!-- <div class="invalid-feedback">You must agree before submitting.</div> -->
              <button class="form__search-submit" type="submit">
                <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-search"></use></svg>
              </button>
            </div>
          </form>
        </div>
        <div class="header__burger col">
          <button class="button button--burger" type="button" data-element="menu-toggle" data-target="menu">
            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-burger"></use></svg>
          </button>
        </div>
        <div class="col ms-4 me-4">
          <div class="dropdown dropdown--secondary">
            <div
              class="dropdown-toggle"
              id="dropdown-2"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
              data-bs-offset="0, 15"
            >
              <svg class="dropdown__toggle-icon svg-icon"><use xlink:href="img/svgSprite.svg#icon-user"></use></svg>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdown-2">
              <div class="dropdown__menu-body-secondary">
                <div class="row row-cols-auto align-items-center justify-content-center">
                  <div class="col">
                    <a class="button button--base" data-bs-toggle="modal" data-bs-target="#modal-5" href="#">Войти</a>
                  </div>	
                  <div class="col">
                    <a class="color-font-primary-primary fw-bold" data-bs-toggle="modal" data-bs-target="#modal-4" href="#">Регистрация</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>