<footer class="footer">
  <div class="footer__base">
    <div class="container-fluid">
      <ul class="list list--nav-footer row row-cols-auto">
        <li class="col"><a class="color-font-base-secondary" href="#">О нас</a></li>
        <li class="col"><a class="color-font-base-secondary" href="#">Новости</a></li>
        <li class="col"><a class="color-font-base-secondary" href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__secondary">
    <div class="container-fluid">
      <hr class="devider">
      <div class="row row-cols-auto">
        <div class="col">
          <a class="color-font-base-third" href="#">© 2021 E-shop</a>
        </div>
        <div class="col">
          <a class="color-font-base-secondary" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</footer>