<div class="section section--goods section--paddings-base">
  <div class="container-fluid">
    <h4 class="section__title">Новые товары</h4>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5">
      <div class="col d-flex flex-column mb-4">
        <a class="card card--base" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/img-good-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__price">360 990 <span class="card__currency">UZS</span></h4>
            <del class="card__old-price">480 000 UZS</del>
            <h6 class="card__title">Комбенезон джинсовый Gloria Jeans Комбенезон джинсовый Gloria Jeans Комбенезон джинсовый Gloria Jeans</h6>
            <div class="card__category">Сумки</div>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--base" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/img-good-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__price">360 990 <span class="card__currency">UZS</span></h4>
            <del class="card__old-price">480 000 UZS</del>
            <h6 class="card__title">Комбенезон джинсовый Gloria Jeans</h6>
            <div class="card__category">Сумки</div>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--base" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/img-good-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__price">360 990 <span class="card__currency">UZS</span></h4>
            <del class="card__old-price">480 000 UZS</del>
            <h6 class="card__title">Комбенезон джинсовый Gloria Jeans</h6>
            <div class="card__category">Сумки</div>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--base" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/img-good-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__price">360 990 <span class="card__currency">UZS</span></h4>
            <del class="card__old-price">480 000 UZS</del>
            <h6 class="card__title">Комбенезон джинсовый Gloria Jeans</h6>
            <div class="card__category">Сумки</div>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--base" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/img-good-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__price">360 990 <span class="card__currency">UZS</span></h4>
            <del class="card__old-price">480 000 UZS</del>
            <h6 class="card__title">Комбенезон джинсовый Gloria Jeans</h6>
            <div class="card__category">Сумки</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>