<div class="section section--about section--paddings-base">
  <div class="container-fluid">
    <div class="section__in" style="background-image: url(img/background-about-0.png);">
      <div class="section__content text-center">
        <h3>О нас</h3>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ut eveniet consectetur reiciendis, facere
          accusantium nisi in, cupiditate vel facilis rem quia aperiam ratione corporis nihil amet. Assumenda dolorem
          quidem sed veniam, beatae est provident fugiat numquam incidunt consequuntur ratione enim! Labore officiis
          nostrum voluptate exercitationem adipisci. Laborum, possimus dolor?
        </div>
      </div>
    </div>
  </div>
</div>