<div class="section section--news section--paddings-base">
  <div class="container-fluid">
    <h4 class="section__title">Новости</h4>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5">
      <div class="col d-flex flex-column mb-4">
        <div class="card card--secondary">
          <div class="card__img-wrap">
            <div class="card__badge badge badge--base badge--base--green">Новинка</div>
            <img class="card__img" src="img/img-news-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__title">Apple Watch 3</h4>
            <div class="card__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            </div>
            <a class="button button--seventh" href="#"><span>Просмотреть</span></a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column mb-4">
        <div class="card card--secondary">
          <div class="card__img-wrap">
            <div class="card__badge badge badge--base badge--base--green">Новинка</div>
            <img class="card__img" src="img/img-news-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__title">Apple Watch 3</h4>
            <div class="card__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            </div>
            <a class="button button--seventh" href="#"><span>Просмотреть</span></a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column mb-4">
        <div class="card card--secondary">
          <div class="card__img-wrap">
            <div class="card__badge badge badge--base badge--base--green">Новинка</div>
            <img class="card__img" src="img/img-news-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__title">Apple Watch 3</h4>
            <div class="card__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            </div>
            <a class="button button--seventh" href="#"><span>Просмотреть</span></a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column mb-4">
        <div class="card card--secondary">
          <div class="card__img-wrap">
            <div class="card__badge badge badge--base badge--base--green">Новинка</div>
            <img class="card__img" src="img/img-news-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__title">Apple Watch 3</h4>
            <div class="card__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            
            
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            </div>
            <a class="button button--seventh" href="#"><span>Просмотреть</span></a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column mb-4">
        <div class="card card--secondary">
          <div class="card__img-wrap">
            <div class="card__badge badge badge--base badge--base--green">Новинка</div>
            <img class="card__img" src="img/img-news-0.png">
          </div>
          <div class="card__body">
            <h4 class="card__title">Apple Watch 3</h4>
            <div class="card__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            
            
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto laudantium atque corporis, 
              iusto fuga officia pariatur dolor unde impedit eligendi!
            </div>
            <a class="button button--seventh" href="#"><span>Просмотреть</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>