<div class="section section--front">
  <div class="container-fluid">
    <div class="position-relative">
      <div class="section__sidebar" data-id="menu">
        <button class="section__sidebar-close" type="button" data-element="menu-toggle" data-target="menu">
          <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-close"></use></svg>
        </button>
        <div class="section__sidebar-in">
          <div class="section__sidebar-head">
            <a class="link link--secondary" href="#">
              <div class="link__in">
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-burger"></use>
                </svg>
                <span>КАТЕГОРИИ</span>
              </div>
            </a>
          </div>
          <div class="section__sidebar-body">
            <ul class="list list--categorys">
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-camera.svg" alt="">
                    </span>
                    <span>Электроника</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-refridgerator.svg" alt="">
                    </span>
                    <span>Бытовая Техника</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-imac.svg" alt="">
                    </span>
                    <span>Компьютерная Техника</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-building.svg" alt="">
                    </span>
                    <span>Недвижимость</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-car.svg" alt="">
                    </span>
                    <span>Транспорт</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-paint.svg" alt="">
                    </span>
                    <span>Строительство и Ремонт</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-tees.svg" alt="">
                    </span>
                    <span>Мода и Cтиль</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-pingpong.svg" alt="">
                    </span>
                    <span>Спорт и Отдых</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-lipstick.svg" alt="">
                    </span>
                    <span>Красота и Уход</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-bear.svg" alt="">
                    </span>
                    <span>Детские товары</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-cat.svg" alt="">
                    </span>
                    <span>Для Животных</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-signal.svg" alt="">
                    </span>
                    <span>Оборудование</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-guitar.svg" alt="">
                    </span>
                    <span>Досуг</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="link link--third" href="#">
                  <span class="link__in">
                    <span class="link__img-wrap">
                      <img class="link__img" src="img/icon-chart.svg" alt="">
                    </span>
                    <span>Аукционы</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section__main">
        <div class="carousel carousel--base swiper-container" data-element="carousel--base">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/background-front-slider-0.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="img/background-front-slider-0.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>