<div class="section section--categories section--paddings-base">
  <div class="container-fluid">
    <h4 class="section__title">Популярные категории</h4>
    <div class="row row-cols-1 row-cols-sm-4">
      <div class="col d-flex flex-column mb-4">
        <a class="card card--third" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/icon-category-0.svg">
          </div>
          <div class="card__body">
            <h4 class="card__title">Автомобили</h4>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--third" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/icon-category-1.svg">
          </div>
          <div class="card__body">
            <h4 class="card__title">Компьютеры</h4>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--third" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/icon-category-2.svg">
          </div>
          <div class="card__body">
            <h4 class="card__title">Гаджеты</h4>
          </div>
        </a>
      </div>
      <div class="col d-flex flex-column mb-4">
        <a class="card card--third" href="#">
          <div class="card__img-wrap">
            <img class="card__img" src="img/icon-category-3.svg">
          </div>
          <div class="card__body">
            <h4 class="card__title">Всё для дома</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>