.footer {
  padding: 2em 0;
  background-color: var(--background-color-secondary-primary);
  .devider {
    margin-bottom: 1.5em;
  }
}
.footer__container {
  @extend .container-fluid;
}
.footer__row {
  @extend .row;
}
.footer__column {
}
