// GLOBAL CONFIG VARIABLES
// ============================


// SCSS VARS
// ============================

$xs: 0;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1400;

$globalFont: 'SFProDisplay';
$globalFontColor: rgba(40, 47, 54, 1);
$globalLinkColor: rgba(69, 146, 255, 1);
$globalBackgroundColor: rgba(224, 224, 224, 1);
$globalBorderColor: rgba(224, 224, 224, 1);
$globalFontSizeRelative: 14;
$globalFontSize: 14 / $globalFontSizeRelative + rem;



$config: (
	(
		group: 'font-family',
		groupInfo: 'fontFaceConfig',
		items: (
			(
				fontName: 'SFProDisplay',
				fontSrc: '../fonts/SFProDisplay/SFProDisplay',
				fontConfig: (
					(weight: 100, style: normal),
					(weight: 100, style: normal),
					(weight: 200, style: normal),
					(weight: 200, style: italic),
					(weight: 300, style: normal),
					(weight: 300, style: italic),
					(weight: 400, style: normal),
					(weight: 400, style: italic),
					(weight: 500, style: normal),
					(weight: 500, style: italic),
					(weight: 600, style: normal),
					(weight: 600, style: italic),
					(weight: 700, style: normal),
					(weight: 700, style: italic),
					(weight: 800, style: normal),
					(weight: 800, style: italic),
					(weight: 900, style: normal),
					(weight: 900, style: italic)
				)
			),
		)
	),
	(
		group: 'font-size-root',
		groupInfo: 'responsiveFontSizesConfig',
		items: (
			(mediaString: xs, media: $xs, value: 10px),
			(mediaString: md, media: $md, value: 12px),
			(mediaString: xxl, media: $xxl, value: 14px),
		)
	),
	(
		group: 'font-size-title',
		groupInfo: 'titlesConfig',
		items: (
			54 / $globalFontSizeRelative + rem,
			40 / $globalFontSizeRelative + rem,
			28 / $globalFontSizeRelative + rem,
			20 / $globalFontSizeRelative + rem,
			18 / $globalFontSizeRelative + rem,
			14 / $globalFontSizeRelative + rem,
		)
	),
	(
		group: 'font-size-text',
		groupInfo: 'textsConfig',
		items: (
			(name: 'primary', value: 27 / $globalFontSizeRelative + rem),
			(name: 'primary-secondary', value: 20 / $globalFontSizeRelative + rem),
			(name: 'secondary', value: 18 / $globalFontSizeRelative + rem),
			(name: 'third', value: 16 / $globalFontSizeRelative + rem),
			(name: 'third-secondary', value: 15 / $globalFontSizeRelative + rem),
			(name: 'fourth', value: 14 / $globalFontSizeRelative + rem),
			(name: 'fifth', value: 12 / $globalFontSizeRelative + rem),
			(name: 'sixth', value: 10 / $globalFontSizeRelative + rem),
			(name: 'seventh', value: 9 / $globalFontSizeRelative + rem),
			(name: 'eigth', value: 8 / $globalFontSizeRelative + rem),
		)
	),
	(
		group: 'font-size-icon',
		groupInfo: 'iconsConfig',
		items: (
			(name: 'primary-larger', value: 24 / $globalFontSizeRelative + rem),
			(name: 'primary', value: 20 / $globalFontSizeRelative + rem),
			(name: 'secondary', value: 15 / $globalFontSizeRelative + rem),
			(name: 'third', value: 10 / $globalFontSizeRelative + rem),
			(name: 'fourth', value: 8 / $globalFontSizeRelative + rem),
		)
	),
	(
		group: 'color-font',
		groupInfo: 'fontColorsConfig',
		items: (
			(
				colorGroupName: 'base',
				itemInfo: 'dark',
				colors: (
					(name: 'primary', value: rgba(40, 47, 54, 1)),
					(name: 'secondary', value: rgba(40, 47, 54, 0.8)),
					(name: 'third', value: rgba(40, 47, 54, 0.7)),
					(name: 'fourth', value: rgba(40, 47, 54, 0.5)),
					(name: 'fifth', value: rgba(40, 47, 54, 0.3)),
					(name: 'sixth', value: rgba(40, 47, 54, 0.15)),
					(name: 'seventh', value: rgba(40, 47, 54, 0.08)),
					(name: 'eigth', value: rgba(40, 47, 54, 0.04)),
					(name: 'ninth', value: rgba(63, 62, 62, 1)),
					(name: 'ninth-secondary', value: rgba(63, 62, 62, 0.5)),
					(name: 'tenth', value: rgba(30, 36, 43, 1)),
					(name: 'eleventh', value: rgba(64, 72, 83, 1)),
					(name: 'twelth', value: rgba(35, 36, 36, 1)),
				)
			),
			(
				colorGroupName: 'primary',
				itemInfo: 'gray',
				colors: (
					(name: 'primary', value: rgba(51, 51, 51, 1)),
					(name: 'secondary', value: rgba(79, 79, 79, 1)),
					(name: 'third', value: rgba(130, 130, 130, 1)),
					(name: 'fourth', value: rgba(189, 189, 189, 1)),
					(name: 'fifth', value: rgba(224, 224, 224, 1)),
					(name: 'sixth', value: rgba(64, 72, 82, 1)),
					(name: 'eleventh', value: rgba(80, 80, 80, 1)),
					(name: 'twelth', value: rgba(143, 146, 150, 1)),
					(name: 'thirteen', value: rgba(190, 192, 194, 1)),
					(name: 'fourtreen', value: rgba(204, 213, 230, 1)),
					(name: 'fifteen', value: rgba(238, 239, 239, 1)),
					(name: 'sixteen', value: rgba(242, 242, 242, 1)),
				)
			),
			(
				colorGroupName: 'secondary',
				itemInfo: 'grayblue',
				colors: (
					(name: 'primary', value: rgba(249, 249, 249, 1)),
				)
			),
			(
				colorGroupName: 'third',
				itemInfo: 'white',
				colors: (
					(name: 'primary', value: rgba(255, 255, 255, 1)),
					(name: 'secondary', value: rgba(255, 255, 255, 0.8)),
					(name: 'third', value: rgba(255, 253, 253, 0.8)),
				)
			),
			(
				colorGroupName: 'fourth',
				itemInfo: 'red',
				colors: (
					(name: 'primary', value: rgba(235, 87, 87, 1)),
					(name: 'secondary', value: rgba(255, 79, 82, 1)),
					(name: 'third', value: rgba(219, 68, 55, 1)),
					(name: 'fourth', value: rgba(255, 69, 69, 1)),
				)
			),
			(
				colorGroupName: 'fifth',
				itemInfo: 'orange',
				colors: (
					(name: 'primary', value: rgba(242, 153, 74, 1)),
					(name: 'secondary', value: rgba(255, 163, 77, 1)),
				)
			),
			(
				colorGroupName: 'sixth',
				itemInfo: 'yellow',
				colors: (
					(name: 'primary', value: rgba(242, 201, 76, 1)),
				)
			),
			(
				colorGroupName: 'seventh',
				itemInfo: 'green',
				colors: (
					(name: 'primary', value: rgba(33, 150, 83, 1)),
					(name: 'secondary', value: rgba(39, 174, 96, 1)),
					(name: 'third', value: rgba(111, 207, 151, 1)),
					(name: 'fourth', value: rgba(69, 210, 137, 1)),
					(name: 'fifth', value: rgba(61, 196, 126, 1)),
				)
			),
			(
				colorGroupName: 'eigth',
				itemInfo: 'blue',
				colors: (
					(name: 'primary', value: rgba(24, 119, 242, 1)),
					(name: 'secondary', value: rgba(45, 156, 219, 1)),
					(name: 'third', value: rgba(86, 204, 242, 1)),
					(name: 'fourth', value: rgba(69, 146, 255, 1)),
					(name: 'fifth', value: rgba(0, 160, 220, 1)),
					(name: 'sixth', value: rgba(29, 161, 242, 1)),
					(name: 'seventh', value: rgba(37, 83, 180, 1)),
					(name: 'eigth', value: rgba(47, 128, 237, 1)),
				)
			),
			(
				colorGroupName: 'ninth',
				itemInfo: 'purple',
				colors: (
					( name: 'primary', value: rgba(155, 81, 224, 1) ),
					( name: 'secondary', value: rgba(187, 107, 217, 1) )
				)
			),
		),
	),
	(
		group: 'background-color',
		groupInfo: 'backgroundColorsConfig',
		items: (
			(
				colorGroupName: 'primary',
				itemInfo: 'gray',
				colors: (
					(name: 'primary', value: #EEEFEF),
					(name: 'secondary', value: rgba(242, 242, 242, 1)),
					(name: 'third', value: rgba(40, 47, 54, 0.04)),
					(name: 'fourth', value: rgba(147, 151, 155, 1)),
					(name: 'fifth', value: rgba(238, 239, 239, 1)),
				)
			),
			(
				colorGroupName: 'secondary',
				itemInfo: 'white',
				colors: (
					(name: 'primary', value: #fff),
				)
			),
			(
				colorGroupName: 'third',
				itemInfo: 'blue',
				colors: (
					(name: 'primary', value: rgba(69, 146, 255, 1)),
					(name: 'secondary', value: rgba(197, 228, 252, 0.5)),
				)
			),
			(
				colorGroupName: 'fourth',
				itemInfo: 'green',
				colors: (
					(name: 'primary', value: rgba(61, 196, 126, 1)),
				)
			),
			(
				colorGroupName: 'fifth',
				itemInfo: 'green',
				colors: (
					(name: 'primary', value: rgba(0, 0, 0, 0.5)),
				)
			),
		)
	),
	(
		group: 'border-color',
		groupInfo: 'borderColorsConfig',
		items: (
			(
				colorGroupName: 'primary',
				itemInfo: 'gray',
				colors: (
					(name: 'primary', value: rgba(40, 47, 54, 0.15)),
					(name: 'secondary', value: rgba(224, 224, 224, 1)),
				)
			),
			(
				colorGroupName: 'secondary',
				itemInfo: 'blue',
				colors: (
					(name: 'primary', value: rgba(69, 146, 255, 1)),
					(name: 'secondary', value: rgba(162, 210, 252, 1)),
				)
			),
		)
	),
	(
		group: 'border-radius',
		groupInfo: 'borderRadiusConfig',
		items: (
			(name: 'none', value: 0),
			(name: 'primary-start', value: 3 / $globalFontSizeRelative + rem),
			(name: 'primary-base', value: 5 / $globalFontSizeRelative + rem),
			(name: 'primary', value: 10 / $globalFontSizeRelative + rem),
			(name: 'secondary', value: 20 / $globalFontSizeRelative + rem),
			(name: 'third', value: 25 / $globalFontSizeRelative + rem),
		)
	),
	(
		group: 'box-shadow-color',
		groupInfo: 'boxShadowConfig',
		items: (
			(
				colorGroupName: 'primary',
				itemInfo: 'dark',
				colors: (
					(name: 'primary', value: rgba(0, 0, 0, 0.06)),
				)
			),
		)
	),
	(
		group: 'grid',
		groupInfo: 'containersConfig',
		items: (
			(type: '', container: 1400px, gutters: ''),
			// (type: 'primary', container: 1600px, gutters: ''),
			// (type: 'secondary', container: 1800px, gutters: ''),
		)
	),
);
// ============================



// Flags
// ========================
$isBootstrap: true;
// ============================


// ============================
// ============================