.form {
  &--search-base {
    .form-control {
      background-color: var(--background-color-primary-secondary);
      border-radius: var(--border-radius-primary-base);
      border-color: transparent;
      padding-left: 3.2em;
      @include iph() {
        color: var(--color-font-base-fourth);
        font-size: var(--font-size-text-fourth);
        line-height: 1;
      }
      &::-ms-clear {  display: none; width : 0; height: 0; }
      &::-ms-reveal {  display: none; width : 0; height: 0; }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration { display: none; }
    }
    .form__search-submit {
      @extend .button-clear;
      position: absolute;
      top: .4em;
      left: .8em;

      color: var(--color-font-eigth-eigth);
      font-size: var(--font-size-icon-primary);
      line-height: 1;
      .svg-icon {
        font-size: var(--font-size-icon-primary-larger);
      }
    }
  }
}