.form-control {
  border: 1px solid var(--border-color-primary-primary);
  height: 2.85em;

  font-size: var(--font-size-text-fourth);
  color: var(--color-font-base-primary);
  line-height: 1;

  background-color: var(--background-color-secondary-primary);
  @include iph() {
    font-size: var(--font-size-text-fourth);
    color: var(--color-font-base-fourth);
    line-height: 1;
  }
  &:focus {
    box-shadow: none;
    border-color: var(--border-color-primary-primary);
  }
}

.form-control-switch {
  @extend .button-clear;
  padding: .8em;
  position: absolute;
  top: -.4em;
  right: 0;
  font-size: var(--font-size-icon-primary);
  color: var(--color-font-base-fifth);
  &:hover {
    color: var(--color-font-eigth-primary);
  }
}