.form-control.is-valid:focus, .was-validated .form-control:valid:focus, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
  background: none !important;
}
.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: var(--color-font-base-secondary);
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
  background-color: #0d6efd;
}
.form-check-input.is-valid, .was-validated .form-check-input:valid {
  border-color: #0d6efd;
}