<div class="modal modal--third fade" id="modal-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-body">
				<form class="needs-validation" novalidate>
					<h4 class="mb-4 pb-2">Регистрация</h4>
					<div class="mb-3">
						<input class="form-control" type="text" id="name" placeholder="Имя" required>
						<div class="invalid-feedback">Please provide a valid value.</div>
					</div>
					<div class="mb-3">
						<input class="form-control" type="email" id="mail" placeholder="Email" required>
						<div class="invalid-feedback">Please provide a valid value.</div>
					</div>
					<div class="mb-3">
						<div class="position-relative">
							<input class="form-control" type="password" id="pass" placeholder="Пароль (не менее 8 символов)" required>
							<div class="invalid-feedback">Please provide a valid value.</div>
							<button class="form-control-switch">
								<svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-eye"></use></svg>
							</button>
						</div>
					</div>
					<div class="mb-3">
						<div class="position-relative">
							<input class="form-control" type="password" id="conf-pass" placeholder="Подтвердите пароль" required>
							<div class="invalid-feedback">Please provide a valid value.</div>
							<button class="form-control-switch">
								<svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-eye"></use></svg>
							</button>
						</div>
					</div>
					<div class="mb-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="check-0" required>
							<label class="form-check-label" for="check-0">
								Я согласен с <a href="#">условиями подписки</a> и обработки <a href="#">персональных данных</a>
							</label>
						</div>
						<div class="invalid-feedback">Please provide a valid value.</div>
					</div>
					<div class="mb-3">
						<button class="button button--base" type="submit">Регитсрация</button>
					</div>
				</form>
			</div>
			<hr>
			<div class="modal-foot pt-2 ps-5 pe-5 pb-4">
				<span class="color-font-base-secondary">Есть аккаунт?</span>
				<a class="fw-bold" href="#">Войдите</a>
			</div>
		</div>
	</div>
</div>