<div class="modal modal--third fade" id="modal-5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-body">
				<h4 class="mb-4 pb-2">Вход</h4>
				<form class="needs-validation" novalidate>
					<div class="mb-3">
						<input class="form-control" type="text" id="name-1" placeholder="Email или номер телефона" required>
						<div class="invalid-feedback">Please provide a valid value.</div>
					</div>
					<div class="mb-3">
						<div class="position-relative">
							<input class="form-control" type="password" id="pass-1" placeholder="Пароль" required>
							<div class="invalid-feedback">Please provide a valid value.</div>
							<button class="form-control-switch">
								<svg class="svg-icon"><use xlink:href="img/svgSprite.svg#icon-eye"></use></svg>
							</button>
						</div>
					</div>
					<div class="mb-3">
						<div class="row row-cols-auto align-items-center">
							<div class="col">
								<button class="button button--base" type="submit">Войти</button>
							</div>
							<div class="col">
								<a class="fw-bold color-font-base-fourth" href="#">Забыли пароль?</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<hr>
			<div class="modal-foot pt-2 ps-5 pe-5 pb-4">
				<span class="color-font-base-secondary">Нет аккаунта?</span>
				<a class="fw-bold" href="#">Зарегистрируйтесь</a>
			</div>
		</div>
	</div>
</div>