@if $config {
	@each $configGroup in $config {
		$varSelector: map-get($configGroup, 'group');
		$list: map-get($configGroup, 'items');
		@if $varSelector == 'border-radius' {
			@each $listItem in $list {
				$name: map-get($listItem, 'name');
				$value: map-get($listItem, 'value');
				.#{$varSelector}--#{$name} {
					border-radius: var(--#{$varSelector}-#{$name});
				}
			}
		}
	}
}