@if $isBootstrap == false {
	.text-capitalize {
		text-transform: capitalize;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	.text-lowercase {
		text-transform: lowercase;
	}
}
.text-transform-none {
  text-transform: none;
}