<script src="js/jquery.min.js"></script>
<script src="js/svg4everybody.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.inputmask.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>