.header-main {
	&--base {
		background-color: var(--background-color-secondary);
		display: flex;
		flex-direction: column;
		min-height: 4.375em;
		justify-content: center;
	}
}
.header-main__container {
	@extend .container-fluid;
}
.header-main__row {
	@extend .row;
}
.header-main__column {

}