
@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'group');
		$items: map-get($group, 'items');
		@if $groupName == 'color-font' {
			@each $item in $items {
				$itemName: map-get($item, 'colorGroupName');
				$itemColors: map-get($item, 'colors');
				@each $color in $itemColors {
					$name: map-get($color, 'name');
					$value: map-get($color, 'value');
					.#{$groupName}-#{$itemName}-#{$name} {
						color: var(--#{$groupName}-#{$itemName}-#{$name}) !important;
					}
				}
			}
		}
	};
}