// Конфигурационный файл для подключения шрифтов.

// WRITE @FONT-FACE
// =================

@if $config {
	@each $configGroup in $config {
		$group: map-get($configGroup, 'group');
		@if $group == 'font-family' {
			$fontsList: map-get($configGroup, 'items');
			@each $font in $fontsList {
				$fontName: map-get($font, 'fontName');
				$fontSrc: map-get($font, 'fontSrc');
				$fontConfig: map-get($font, 'fontConfig');
				
				@if length($fontConfig) > 0 {
					@each $fontFace in $fontConfig {
						$weight: map-get($fontFace, 'weight');
						$style: map-get($fontFace, 'style');
						$srcStylePart: '';
						
						@if($style == 'italic') {
							$srcStylePart: 'italic';
						}
					
						@include font-face($fontName, '#{$fontSrc}-#{$weight}#{$srcStylePart}', $weight, $style, woff woff2);
					}
				}
			};
		}
		@each $group, $groupValue, $items in $configGroup {
		}
	}
}

// ========================
// ========================