@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'group');
		$items: map-get($group, 'items');
		@if $groupName == 'font-size-text' {
			$count: 1;
			@each $item in $items {
				$name: map-get($item, 'name');
				$value: map-get($item, 'value');
				@include set-typography('.text--#{$name}', $groupName, $name, null, $value);
				$count: $count + 1;
			}
		}
	};
}