@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'group');
		$items: map-get($group, 'items');
		@if $groupName == 'font-size-title' {
			$count: 1;
			@each $item in $items {
				@include set-typography('.title--', $groupName, null, $count, $item);
				$count: $count + 1;
			}
		}
	};
}