
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'group');
		$items: map-get($group, 'items');
		@if $groupName == 'font-size-title' {
			$count: 1;
			@each $item in $items {
				@include set-typography('h', $groupName, null, $count, $item);
				$count: $count + 1;
			}
		}
	};
}



p {

}
b, strong {
  font-weight: 700;
}
em, i {

}

ol {

}
ul {

}
a {
	text-decoration: none;
  color: var(--global-link-color);
  &:hover {
    color: var(--global-link-color);
		text-decoration: underline;
  }
}
blockquote {
  position: relative;
  padding: 1.8em 3em 1.5em;

  border-radius: 5px;
  &:before, &:after {
    content: '';
    position: absolute;

    width: 15px;
    height: 15px;

    // background: url('../img/quotes.svg') 50% 50% no-repeat;
    // background-size: cover;
  }
  &:before {
    top: 10px;
    left: 15px;
  }
  &:after {
    bottom: 10px;
    right: 15px;
  }
}

.devider {
  
}

small, time {
}

img {
  max-width: 100%;
  height: auto;
}

.devider {
  border: none;
  border-bottom: 1px solid var(--border-color-primary-primary);
}