.header {
  .form--search-base {
    width: 29.5em;
  }
}
.header__base {
  background-color: var(--background-color-primary-fifth);
  min-height: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__secondary {
  background-color: var(--background-color-secondary-primary);
  min-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--border-color-primary-primary);
}
.header__burger {
  // display: block;
  @include media(m, $xl) {
    display: none;
  };
}
.header__container {
  @extend .container-fluid;
}
.header__row {
  @extend .row;
}
.header__column {

}